.avatar {
  float: right;
  margin-top: 200px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile_page{
  background-color:   rgba(0, 0, 0, 0.499);
  align-items: center;
  margin: 20px;
  width: inherit;
  height: 700px;
  border-radius: 10px;
}
.profile_text{
  font-size: 20px ;
  color: rgb(46, 239, 223);
  align-items: center;
  margin: auto;
  float: left;
}

body{
  background-color: rgb(61, 60, 60);
}
.prfile_page1{
  width: 45%;
  float: left;
}
.prfile_page2{
  width: 45%;
  float: right;
}