.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile_page{
  background-color:   rgba(0, 0, 0, 0.499);
  align-items: center;
  margin: 20px;
  width: inherit;
  height: initial;
  border-radius: 10px;
}
.profile_text{
  font-size: 20px ;
  width: 60%;
  color: rgb(46, 239, 223);
  padding: 40px;
  display: inline;
}
.profile{
  margin: auto;
  width: 45%;
  padding: 200px 0px;
  align-items: center;
  display: flex;
  column-gap: 60px;
  flex-wrap: wrap;
}
.profile_pic{
  padding: 20px;
}
body{
  background-color: rgb(61, 60, 60);
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:inherit;
  color: white;
  padding: 10px 15px;
  border: none;
 }
 .resume{
  border: 1px solid #0075f6;
  color: rgb(39, 107, 128);
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: Transparent;
  font-size: 12px;
  letter-spacing: 3px;
  align-content: center;
}
.resume a{
  text-decoration: none;
}
.education{
  background-color: rgba(0, 0, 0, 0.499);
  text-align: center;
  margin: 20px;
  width: inherit;     
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;
  
}
.education_detail{
background-color: rgba(39, 50, 36, 0.549);
    
border-radius: 10px;
padding: 20px;
margin: 20px;
color: rgb(97, 156, 203);
}
.skill{
  background-color: rgba(0, 0, 0, 0.499);
  align-items: center;
  margin: 20px;
  width: inherit;     
  border-radius: 10px;
  padding: 20px;

}
.skill_bar{
  align-items: center;
  margin: 20px;
  width: inherit;     
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.skill_item{
  background-color: rgba(36, 30, 30, 0.858);
  align-items: center;
  color: blanchedalmond;
  margin: auto ;
  width: 100px;     
  border-radius: 10px;
  padding: 10px;
}
.skill_item img{
  height: 100px;
  width: 100px;
  }